KAKAO_REST_API_KEY=your_kakao_rest_api_key
KAKAO_REFRESH_TOKEN=your_kakao_refresh_token
KAKAO_CLIENT_SECRET=your_optional_kakao_client_secret
HSKK_MOBILE_URL=https://parksooyoung-john.github.io/Language_Study/hskk-study/mobile/
